.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin-top: 10%;
}

.menu-button{
  position:  absolute !important;
  top:0;
  right:0;
  border-radius: 20%;
  border-left: 1px solid #cacaca !important;
  border-right: 1px solid #cacaca !important;
  border-bottom: 1px solid #cacaca !important;
  margin-right:5px !important;
  margin-top:-5px !important;
 color: #000 !important;
}

.column-left{
  text-align: left;
}

.title{
  font-size: 4em;
  margin: 0;
  line-height: 1em;
  color:#404040;
}

.subtitle{
  margin: 10px 0;
  font-size: 1.6em;
  font-weight:100;
  color:#606060;
}

.sub-container{
  position: absolute;
  top: 3%;
  z-index:100;
}

.avatar{
 width:90%;
}

.social-wrap{
  margin: 20px 0;
}
.social-icon{
  display:inline-block;
  border-radius: 50%;
  width:30px;
  height: 30px;
  margin:0 2px;
  padding:10px;
  background:#cacaca;
}

@media (max-width: 640px) {
  .column-left{
    text-align: center;
  }
  .title{
    font-size: 3em;
  }
  .subtitle{
    font-size: 1em;
  }
  .avatar{
   width:60%;
  }
}
