.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin-top: 10%;
}

.column-left{
  text-align: left;
}

.title{
  font-size: 4em;
  margin: 0;
  line-height: 1em;

}

.subtitle{
  margin: 10px 0;
  font-size: 1.6em;
  font-weight:100;
  color:#cacaca;
}

.sub-container{
  position: absolute;
  top: 3%;
  z-index:100;
}

.avatar{

}

.social-wrap{
  margin-top: 20px;
}
.social-icon{
  display:inline-block;
  border-radius: 50%;
  width:30px;
  height: 30px;
  margin:0 2px;
  padding:10px;
  background:#cacaca;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
